@CHARSET "UTF-8";

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {   /* 스토리, 지도/일정 탭 - 마우스 오버 색상 지정 */
		color:#ffffff;
    	background-color:#47C83E;
    }
    #container-fluid{   /* 오른쪽 그룹 */
        position:inherit;
    	padding:15px 15px;
    	Border-radius:10px;
    	background-color:#FFFFFF;
    }
    #myTab{   /* 스토리, 지도/일정 탭 - 배경색 지정*/
    	 overflow: auto; 
  	  	list-style-type: none;
    	background-color:#FFFFFF;
    	Border-radius:10px;
    }
    #tabtest{    /* 스토리, 지도/일정 탭 */
    	float : left;
   		display: inline;
		width:400px;
		height:65px;
		font-size:30px;
	}
	 
    #row1{    /* 일정에 대한 간단한 설명 */
    	margin:0px;
    	padding:0px 0px;
    }
    #row2{    /* 일정에 대한 자세한 설명  */
    	margin:0px;
    	padding:0px 0px;
    }
    body{    /* 전체 배경 색상 */
    	background-color:#EAEAEA;
    }
    #btn-group{    /* 왼쪽 버튼 그룹1 */
    	width:185px;
    	Border-radius:10px;
    }
    #btn-group2{   /* 왼쪽 버튼 그룹2 */
  	    width:190px;
    	Border-radius:10px;
    	margin:0px;
    	padding:0px 0px;
    }
    #budget-tab{
    	list-style-type:none;
   		margin:0;
    	padding:0;
    }
    #b-tab-li{    /* 가계부 메뉴 */
		margin: 0 0 0 0;
    	padding: 0 0 0 0;
    	border : 0;
    	float: left;
	}
	#ch-tab-li {     /* 체크리스트 메뉴 */
    	margin: 0 0 0 0;
    	padding: 0 0 0 0;
    	border : 0;
    	float: left;
	}
	#totalCost{
		list-style:none; 
	}
	#checklist-tab{
		list-style:none; 
		font-size:20px;
	}
	td{
    	text-align: center;
    }
    .add-my {
    	position:absolute;
		width: 210px;
	}
	.add-my-box {
		width: 200px;
	}
	#colmd{
		width: 60px;
	}
	#stock_table{
		padding: 10px;
		border-style : solid;
		border-width : 10px;
		border-color: #000000;
	}
	#stock_table tr{
	border : 3px solid #000000;
	}
	#stock_table td{
	border : 3px solid #000000;
	}
	#transportUl{ 
  	  overflow: auto; 
  	  list-style-type: none;
   	} 
   	#transportLi {
   		float : left;
   		display: inline;
   		margin-right: 10px;
   	}
	
	#navlink:hover{
    	color : #6B9900;
    	font-weight : bold;
    	font-size : 120%;
    }
   #date{
		width : 200px;
	}		
	#modalSize{
		width : 450px;
	}
	#top-banner-body {
	padding-top: 150px;
	}

#masthead {
	width: 1140px;
	min-height: 270px;
	background-image : url('/tvlog/img/schedule/schedule-img.png');
	text-align: center;
	position:relative; 
}
#masthead p{
	position:absolute;
	width:200px; left:0; right:0; margin-left:auto; margin-right:auto;
	height:40px; top: 0; bottom:0; margin-top:auto; margin-bottom:auto;
	background-color:red;   
}
  
#masthead .well {
	margin-top: 50px;
	background-color: #EAEAEA;
	border-color: #EAEAEA;
}

#savecontainer{
	width: 1140px;
}
#scheduleSave{
	width: 220px;
	height : 50px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
} 


@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}
#top-banner{
	background-color: #FFFFFF;
}
	